:root {
	--space-l: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);
	--space-m: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
	--space-s: clamp(0.875rem, 0.8494rem + 0.1136vw, 0.9375rem);
	--space-xs: clamp(0.5625rem, 0.5369rem + 0.1136vw, 0.625rem);

	--color-background: #182126;
	--color-primary: #e7e9eb;
	--color-secondary: #B8BABC;
	--color-tertiary: #404141;

	--font-content: 500 clamp(1.25rem, 1.155vw + 0.951rem, 1.875rem) system-ui;
	--font-title: 700 clamp(2.5rem, 1.155vw + 2.201rem, 3.125rem) system-ui;
	--font-caption: 500 clamp(1rem, 0.462vw + 0.88rem, 1.25rem) system-ui;

	--rounded: 8px;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: system-ui;
	background-color: var(--color-background);
}
